version: "3"
services:
    db:
        image: mysql
        env_file: .env
        ports:
            - 3306:3306
        security_opt:
            - seccomp:unconfined

    api:
        build:
            context: ./api
        depends_on:
            - db
        restart: on-failure
        env_file: .env

    client:
        build:
            context: ./client
        depends_on:
            - api
        restart: on-failure
        env_file: .env

    web_server:
        image: nginx:1.17
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        ports:
            - 80:80
        depends_on:
            - client
        env_file: .env
